body {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    background-color: hsl(217, 54%, 11%);
}
a {
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}
.block {
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    max-width: 250px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.05),
                0px 15px 30px 25px rgba(0, 0, 0, 0.1);
}
.photo {
    position: relative;
}
.photo::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(178, 100%, 50%);
    width: 100%;
    height: 98%;
    opacity: 0;
    border-radius: 10px;
}
.photo:hover::after{
    opacity: 0.4;
    cursor: pointer;
  }
.photo::before { 
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../images/icon-view.svg) no-repeat 50% 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    opacity: 0;
    z-index: 2;
}
.photo:hover::before{
    opacity: 1;
    cursor: pointer;
  }
hr {
    border-color: hsl(215, 32%, 27%);
}
img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}
img.image {
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
.block_footer {
    display: flex;
    align-items: center;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}
.price_row1 {
    display: flex;
    align-items: center;
}
.price_row2 {
    display: flex;
    align-items: center;
}
.price_eth {
    color: hsl(178, 100%, 50%);
}
img.price_icon {
    height: 15px;
    width: auto;
    margin-right: 3px;
}
.title {
    font-size: 18px;
    color: white;
    font-weight: 600;
}
a:hover {
    color: hsl(178, 100%, 50%);
}
